* {
    margin: 0;
    box-sizing: border-box;
    background-color: #F9FAFB;
}

p, ul {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2 {
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#pageContainer {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 20% 80%;
    height: 100vh;
    width: 100vw;
}

#headerDiv {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #0A192F;
}

#SectionDiv {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#AsideDiv {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 4px solid gray;
}

#FooterDiv {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

h1, #buttonContainer {
    background-color: #0A192F;
    color: #F9FAFB;
}

#headerChildDiv {
    position: relative;
    width: 100%;
}

#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1.75rem, 4vw, 3rem);
}

#buttonContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

#buttonContainer button {
    padding: 0.5rem
}

#SideButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    background-color: #0A192F;
}

#SideButtons button {
    height: 50px;
    font-size: medium;
    background-color: #0A192F;
    color: #F9FAFB;
    margin-top: 5px;
}

#SideButtons button:hover {
    background-color: #F9FAFB;
    color: #0A192F;
}

#SectionDiv, #FooterDiv, #FooterText { 
    background-color: #0A192F;
    color: #F9FAFB;
}

#projectsDiv, #contactDiv {
    display: none;
}

#projectTitle, #contactTitle, #aboutTitle {
    margin-top: 10px;
    text-align: center;
}

#ecommerceLink, #codingTrackerLink, #sportsNotifyLink {
    text-align: center;
    margin-bottom: 2px;
    font-size: large;
}

#aboutMeDiv>p, #projectsDiv>p, #contactDiv>p {
    text-align: center;
}

#GitHubButton img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

#LinkedinButton img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

#FooterText {
    text-align: center;
    font-size: small;
    margin-top: 20px;
}